In [61]:
import pandas as pd
import os

In [62]:
data_path = '../ETRI/data/dataset_2020/user03'

In [63]:
data_path = '../ETRI/data/dataset_2020/user03'
user_dir_list = os.listdir(data_path)

user_label_list = []
for element in user_dir_list:
    label_data_path = data_path + '/' + element + '/' + element + '_label.csv'
    label_data = pd.read_csv(label_data_path)
    user_label_list.append(label_data)
    
df = pd.concat(user_label_list)
df['ts'] = pd.to_datetime(df['ts'], unit='s')
df = df.sort_values('ts')

df.head()

,ts,action,actionOption,actionSub,actionSubOption,condition,conditionSub1Option,conditionSub2Option,place,emotionPositive,emotionTension,activity
0,2020-08-29 08:20:00,work,212,NaN,NaN,WITH_MANY,5.0,2.0,other_indoor,4,3,3
1,2020-08-29 08:21:00,work,212,NaN,NaN,WITH_MANY,5.0,2.0,other_indoor,4,3,3
2,2020-08-29 08:22:00,work,212,NaN,NaN,WITH_MANY,5.0,2.0,other_indoor,4,3,3
3,2020-08-29 08:23:00,work,212,NaN,NaN,WITH_MANY,5.0,2.0,other_indoor,4,3,3
4,2020-08-29 08:24:00,work,212,NaN,NaN,WITH_MANY,5.0,2.0,other_indoor,4,3,3

In [64]:
df.columns

Index(['ts', 'action', 'actionOption', 'actionSub', 'actionSubOption',
       'condition', 'conditionSub1Option', 'conditionSub2Option', 'place',
       'emotionPositive', 'emotionTension', 'activity'],
      dtype='object')

In [65]:
df.shape

(21102, 12)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21102 entries, 0 to 891
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ts                   21102 non-null  datetime64[ns]
 1   action               21102 non-null  object
 2   actionOption         21102 non-null  int64
 3   actionSub            2573 non-null   object
 4   actionSubOption      2573 non-null   float64
 5   condition            21102 non-null  object
 6   conditionSub1Option  6771 non-null   float64
 7   conditionSub2Option  6771 non-null   float64
 8   place                21102 non-null  object
 9   emotionPositive      21102 non-null  int64
 10  emotionTension       21102 non-null  int64
 11  activity             21102 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(4), object(4)
memory usage: 2.1+ MB

In [67]:
df['actionOption'].value_counts()

111    3961
211    3453
722    3045
121    1329
791    1311
724    1035
793     866
43      636
112     560
756     505
41      503
82      491
132     418
213     410
87      365
133     354
711     313
721     227
712     179
713     161
46      154
85      140
754     115
122     105
42       80
81       75
84       68
751      60
764      59
723      50
91       46
212      25
742       3
Name: actionOption, dtype: int64

In [68]:
df['actionOption'].unique()

array([212,  82, 121,  43, 724,  91, 793, 722, 111,  41, 122, 712, 211,
       132, 723,  42,  84,  46, 791, 713, 721, 742, 133,  81, 112,  85,
       711, 751, 756, 764,  87, 754, 213])

In [69]:
li = df['actionOption'].unique()
li = list(li)
print(li)

[212, 82, 121, 43, 724, 91, 793, 722, 111, 41, 122, 712, 211, 132, 723, 42, 84, 46, 791, 713, 721, 742, 133, 81, 112, 85, 711, 751, 756, 764, 87, 754, 213]

In [85]:
total = []

In [86]:
data_path = '../ETRI/data/dataset_2020/user01'
user_dir_list = os.listdir(data_path)
    
user_label_list = []
for element in user_dir_list:
    label_data_path = data_path + '/' + element + '/' + element + '_label.csv'
    label_data = pd.read_csv(label_data_path)
    user_label_list.append(label_data)
    
df = pd.concat(user_label_list)
df['ts'] = pd.to_datetime(df['ts'], unit='s')
df = df.sort_values('ts')

df.head()

li = df['actionOption'].unique()
li = list(li)
total.extend(li)
print(type(total))

# print(li)
# print(len(li))

<class 'list'>

In [87]:
data_path = '../ETRI/data/dataset_2020/user02'
user_dir_list = os.listdir(data_path)

user_label_list = []
for element in user_dir_list:
    label_data_path = data_path + '/' + element + '/' + element + '_label.csv'
    label_data = pd.read_csv(label_data_path)
    user_label_list.append(label_data)
    
df = pd.concat(user_label_list)
df['ts'] = pd.to_datetime(df['ts'], unit='s')
df = df.sort_values('ts')

df.head()

li = df['actionOption'].unique()
li = list(li)
total.extend(li)
print(li)
print(len(li))

[111, 793, 132, 133, 82, 211, 121, 212, 213, 122, 724, 711, 723, 713, 722, 46, 81, 313, 725, 41, 134]
21

In [88]:
data_path = '../ETRI/data/dataset_2020/user03'
user_dir_list = os.listdir(data_path)

user_label_list = []
for element in user_dir_list:
    label_data_path = data_path + '/' + element + '/' + element + '_label.csv'
    label_data = pd.read_csv(label_data_path)
    user_label_list.append(label_data)
    
df = pd.concat(user_label_list)
df['ts'] = pd.to_datetime(df['ts'], unit='s')
df = df.sort_values('ts')

df.head()

li = df['actionOption'].unique()
li = list(li)
total.extend(li)
print(li)
print(len(li))

[212, 82, 121, 43, 724, 91, 793, 722, 111, 41, 122, 712, 211, 132, 723, 42, 84, 46, 791, 713, 721, 742, 133, 81, 112, 85, 711, 751, 756, 764, 87, 754, 213]
33

In [89]:
data_path = '../ETRI/data/dataset_2020/user04'
user_dir_list = os.listdir(data_path)

user_label_list = []
for element in user_dir_list:
    label_data_path = data_path + '/' + element + '/' + element + '_label.csv'
    label_data = pd.read_csv(label_data_path)
    user_label_list.append(label_data)
    
df = pd.concat(user_label_list)
df['ts'] = pd.to_datetime(df['ts'], unit='s')
df = df.sort_values('ts')

df.head()

li = df['actionOption'].unique()
li = list(li)
total.extend(li)
print(li)
print(len(li))

[132, 121, 41, 133, 211, 82, 92, 751, 793, 752, 122, 213, 43, 87, 722, 712, 212, 84, 46, 762, 711, 756, 724, 81, 725, 42]
26

In [91]:
print(total)
print(len(total))

[212, 87, 121, 82, 793, 211, 756, 43, 85, 132, 81, 722, 725, 313, 314, 711, 131, 762, 213, 322, 713, 122, 84, 311, 721, 764, 763, 91, 724, 42, 723, 41, 133, 86, 743, 112, 92, 751, 111, 61, 111, 793, 132, 133, 82, 211, 121, 212, 213, 122, 724, 711, 723, 713, 722, 46, 81, 313, 725, 41, 134, 212, 82, 121, 43, 724, 91, 793, 722, 111, 41, 122, 712, 211, 132, 723, 42, 84, 46, 791, 713, 721, 742, 133, 81, 112, 85, 711, 751, 756, 764, 87, 754, 213, 132, 121, 41, 133, 211, 82, 92, 751, 793, 752, 122, 213, 43, 87, 722, 712, 212, 84, 46, 762, 711, 756, 724, 81, 725, 42]
120

In [94]:
ans = list(set(total))
print(len(ans))

47